[Unit]
Description=Information Services XCSR Support Contact Router 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr_software.sysconfig
ExecStart=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/router_daemon.sh start
ExecReload=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/router_daemon.sh restart
ExecStop=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/router_daemon.sh stop
PIDFile=/soft/warehouse-apps-1.0/Manage-XCSR/var/route_xcsr_software.pid
#PrivateTmp=true
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
