[Unit]
Description=Information Services XCSR Content Router 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr.sysconfig
ExecStart=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr.service.sh start
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
