[Unit]
Description=Information Services XCSR Support Router 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr_support.sysconfig
ExecStart=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr_support.daemon start
ExecReload=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr_support.daemon restart
ExecStop=/soft/warehouse-apps-1.0/Manage-XCSR/PROD/sbin/route_xcsr_support.daemon stop
PIDFile=/soft/warehouse-apps-1.0/Manage-XCSR/var/route_xcsr_support.pid
#PrivateTmp=true
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
